{% extends 'home.html' %}

{% block content %}
    <h1>{% block title %} Add a New Item {% endblock %}</h1>
    <form method="post" action="/add">
        <label for="nom">Nom</label>
        <br>
        <input type="text" name="nom"
               placeholder="nom"
               value="{{ request.form['nom'] }}">
        <br>

        <label for="prenom">Prenom</label>
        <br>
        <input type="text" name="prenom"
                  placeholder="prenom" value="{{ request.form['prenom'] }}">
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}