<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/diplay_list">List</a>
        <a href="/add">Add</a>
    </nav>
    <h3>last update : {{ last_update }}</h3>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>